@import 'setup';
@import 'typography';
@import 'mixins';
@import 'souvlaki';

// mixins:
// titleText ($fontSize, $letterSpacing, $lineHeight)
// mainText ($fontSize, $letterSpacing, $lineHeight) 

// VARIABLES: 

$accentColor: #FFC600;
$textColor: #FAFFFE;
$background1: #262725;
$background2: #1E140E;
$background3: #555F02;


body {
  background-image: url(../assets/paperUnsplashAE.jpg);
}

header {
  // background-image: linear-gradient(to bottom, rgba(26, 6, 15, 0.98), #ffe7e3d4 50%, #f8f3f000), url("../assets/melc.png");
  background-image: linear-gradient(350deg, rgb(12, 4, 4), #010908f2 50%, #081317b8), url("../assets/melc.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0;
  width: 100%;
}

header p {
  font-family: 'Work Sans';
  margin: 0 auto;
  width: 75%;
  padding: 2%;
  line-height: 1.8;
  font-size: 1.45vmax;
  text-align: justify;
  color: #fff;
  transition: .1s;
    a {
      text-decoration: none;
      color: #fff;
    }
    
}


// ashley edwards background paper photo




@media (max-width: 749px){
  header p {
    font-size: 2vmax;
  }
}
