@import 'setup';
@import 'typography';
@import 'mixins';
@import 'souvlaki';
@import 'mel';

// mixins:
// titleText ($fontSize, $letterSpacing, $lineHeight)
// mainText ($fontSize, $letterSpacing, $lineHeight) 

// VARIABLES: 

$accentColor: #FFC600;
$textColor: #FAFFFE;
$background1: #262725;
$background2: #1E140E;
$background3: #555F02;

body {
  background-image: linear-gradient(175deg, rgb(82, 7, 42), #4c3fc0 50%, #ff8f4f);
}

header {
  background-image: linear-gradient(350deg, rgb(12, 4, 4), #010908f2 50%, #081317b8), url("../assets/melc.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

h1 div {
  font-family: "Monoton", Helvetica, Arial;
  text-transform: uppercase;
  color: #fff;
  text-shadow: -3px 3px #1E140E;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  max-width: 90%;
  margin: 0 auto;
  padding: 8vw 0 0 0;
  gap: 2vw;
  font-size: 7vw;
  min-height: 60vh;
  justify-items: center;
  animation: typing 3s steps(4, end),
  span {
    text-align: center;
  }
}

@keyframes typing {
  from { width: 40% }
  to { width: 100% }
}


.hide {
  opacity: 0;
  pointer-events: none;
}

p {
  font-family: 'Work Sans';
  font-size: 1.5vmax;
  color: #fff;
  text-align: center;
}

header p {
  margin: 0 auto;
  width: 75%;
  padding: 2% 2% 50px 2%;
  line-height: 1.8;
  text-align: justify;
  // transition: .1s;
    a {
      border-bottom: 2px dotted #fff ;
    }
}

 a {
    text-decoration: none;
    color: #fff;
    }

    i {
      padding: 5px;
      transition: .4s;
      outline: none;
        &:hover {
          transform: rotate(1turn);
        }
    }

section {
  // position: relative;
}

.credit {
  padding: 8vh 5vh;
}

button {
  position: absolute;
  top: -5vmax;
  right: 3%;
  font-size: 3vmax;
  color: #fff;
  background: none;
  border: none;
    &:hover {
      color: rgb(255, 217, 0);
    }
}


// ashley edwards background paper photo

@media (max-width: 1216px){
  h1 div {
    animation: typing 2s steps(2, end);
  }
}


@media (max-width: 1000px){
  p {
    font-size: 1.9vmax;
  }
}

@media (max-width: 348px){
  h1 div {
    animation: typing 1s steps(1, end);
  }
}